// custom css overrides
html {
   overflow-y: scroll;
}

a:hover {
   .text-decoration-underline {
      text-decoration: underline !important;
   }
}

.text-decoration-underline:hover {
   text-decoration: underline !important;
}
